version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  reviewers:
  - "mobu-of-the-world/maintainers"
  labels:
  - automerge
  ignore:
    - dependency-name: "@types/*"
      update-types: ["version-update:semver-major"]
