.header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #aaaaaa;
  margin-bottom: 1rem;
}

@media screen and (max-width: 649px) {
  .header--width {
    width: 90%;
  }
}

@media screen and (min-width: 650px) {
  .header--width {
    width: 80%;
  }
}

.header--container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.header--logo {
  font-size: xx-large;
  align-self: center;
}

.header--menu {
  font-size: xx-large;
  align-self: center;
}
