.header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #aaaaaa;
  margin-bottom: 1rem;
}

@media screen and (max-width: 799px) {
  .header--width {
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .header--width {
    width: 60%;
  }
}

.header--container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.header--logo {
  font-size: xx-large;
  align-self: center;
}

.header--menu {
  font-size: xx-large;
  align-self: center;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: #f0f6fc;
    background: #161b22;
  }
}
