.userregister--form {
  display: flex;
}

.userregister--button {
  font-size: 1.5rem;
  border: 0px;
  border-radius: 0px;
}

@media (prefers-color-scheme: dark) {
  .userregister--button {
    background-color: inherit;
  }
}
