@media screen and (max-width: 799px) {
  .interval {}
}
@media screen and (min-width: 800px) {
  .interval {
    display: flex;
    white-space: nowrap;
  }
}

.interval--text {
  font-size: 1.5rem;
}
