.menu--container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  padding-top: 1rem;
  justify-content: center;
}

.menu--container.visible {
  visibility: visible;
}

.menu--container.hidden {
  visibility: hidden;
}

@media screen and (max-width: 799px) {
  .menu--container-place-adjuster {
    display: flex;
    width: 90%;
    justify-content: flex-end;
  }

  .menu--content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    background: #cccccc;
    border: solid 1px;
    border-radius: 20px;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .menu--container-place-adjuster {
    display: flex;
    width: 60%;
    justify-content: flex-end;
  }

  .menu--content-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    background: #cccccc;
    border: solid 1px;
    border-radius: 20px;
    padding-bottom: 1rem;
  }
}

.menu--content-item-header {
  display: flex;
  justify-content: flex-end;
  line-height: 3rem;
  padding-right: 1rem;
}

.menu--content-item-header-close {
  display: flex;
  cursor: pointer;
}

.menu--content-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--content-item {
  line-height: 3rem;
}
