.userlist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userlist__list {
  list-style-type: none;
}

.userlist__listitem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
  border-bottom: 1px solid;
}

.userlist--divider {
  margin-bottom: 1rem;
}
