.userlist {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userlist__list {
  list-style-type: none;
  width: 70%;
}

.userlist__listitem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
