.main--container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 799px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
  .divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .main {
    display: flex;
    width: 60%;
  }
  .divider {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
